In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('../data/user_mobile_app_interaction_data.csv')

print(df.shape)   # 看資料有多少列、多少欄
df.head()         # 顯示前5列

(100000, 23)

,timestamp,user_id,session_id,ip_address,device_os,device_os_version,device_model,screen_resolution,location_country,location_city,...,memory_usage_mb,event_type,event_target,event_value,app_version,session_duration_sec,is_subscribed,user_age,phone_number,push_enabled
0,2025-01-13T23:12:43,13457,S-852694,181.246.29.95,Android,9.9,OnePlus 9,1080x1920,Senegal,South Luiston,...,3687,double_tap,profile_image,5,2.6.8,3311,True,51,001-423-901-2346x818,False
1,2024-12-24T22:57:29,95977,S-766538,59.155.205.42,Android,7.9,Samsung Galaxy S22,1080x1920,Greenland,Lake Brandonton,...,3521,pinch,search_bar,6,3.3.6,3283,False,40,(437)544-4735,False
2,2024-12-22T09:00:26,52758,S-228244,183.205.124.1,iOS,15.1,iPhone 13,1080x1920,Falkland Islands (Malvinas),Julieside,...,639,zoom,menu_icon,6,5.4.5,2870,True,73,001-815-298-0574x8189,True
3,2025-01-07T02:53:07,53777,S-633216,179.124.111.38,iOS,16.1,iPhone 14 Pro,720x1280,Comoros,North Steven,...,119,long_press,checkout_button,9,4.7.1,332,True,47,(252)814-8186,False
4,2024-12-22T15:58:18,6302,S-508537,198.184.172.85,Android,7.6,Motorola Edge,1080x1920,Mayotte,Ernestport,...,1789,view,settings_button,7,2.0.8,1694,True,32,+1-778-241-8813,False

In [19]:
print(df.shape)   # 看資料有多少列、多少欄
df.head()

(100000, 23)

,timestamp,user_id,session_id,ip_address,device_os,device_os_version,device_model,screen_resolution,location_country,location_city,...,memory_usage_mb,event_type,event_target,event_value,app_version,session_duration_sec,is_subscribed,user_age,phone_number,push_enabled
0,2025-01-13T23:12:43,13457,S-852694,181.246.29.95,Android,9.9,OnePlus 9,1080x1920,Senegal,South Luiston,...,3687,double_tap,profile_image,5,2.6.8,3311,True,51,001-423-901-2346x818,False
1,2024-12-24T22:57:29,95977,S-766538,59.155.205.42,Android,7.9,Samsung Galaxy S22,1080x1920,Greenland,Lake Brandonton,...,3521,pinch,search_bar,6,3.3.6,3283,False,40,(437)544-4735,False
2,2024-12-22T09:00:26,52758,S-228244,183.205.124.1,iOS,15.1,iPhone 13,1080x1920,Falkland Islands (Malvinas),Julieside,...,639,zoom,menu_icon,6,5.4.5,2870,True,73,001-815-298-0574x8189,True
3,2025-01-07T02:53:07,53777,S-633216,179.124.111.38,iOS,16.1,iPhone 14 Pro,720x1280,Comoros,North Steven,...,119,long_press,checkout_button,9,4.7.1,332,True,47,(252)814-8186,False
4,2024-12-22T15:58:18,6302,S-508537,198.184.172.85,Android,7.6,Motorola Edge,1080x1920,Mayotte,Ernestport,...,1789,view,settings_button,7,2.0.8,1694,True,32,+1-778-241-8813,False

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   timestamp             99694 non-null  object
 1   user_id               99659 non-null  object
 2   session_id            99680 non-null  object
 3   ip_address            99683 non-null  object
 4   device_os             99686 non-null  object
 5   device_os_version     99626 non-null  object
 6   device_model          99646 non-null  object
 7   screen_resolution     99688 non-null  object
 8   location_country      99680 non-null  object
 9   location_city         99692 non-null  object
 10  app_language          99672 non-null  object
 11  network_type          99661 non-null  object
 12  battery_level         99710 non-null  object
 13  memory_usage_mb       99682 non-null  object
 14  event_type            99650 non-null  object
 15  event_target          99680 non-null  object
 16  event_value           99683 non-null  object
 17  app_version           99670 non-null  object
 18  session_duration_sec  99680 non-null  object
 19  is_subscribed         99660 non-null  object
 20  user_age              99649 non-null  object
 21  phone_number          99681 non-null  object
 22  push_enabled          99662 non-null  object
dtypes: object(23)
memory usage: 17.5+ MB

In [14]:
df.duplicated().sum()

0

In [32]:
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')
df['session_duration_sec'] = pd.to_numeric(df['session_duration_sec'], errors='coerce')
df['memory_usage_mb'] = pd.to_numeric(df['memory_usage_mb'], errors='coerce')
df['user_age'] = pd.to_numeric(df['user_age'], errors='coerce')

df['is_subscribed'] = df['is_subscribed'].isin([True, 'True', 'true', 1])  # 清理成布林
df['push_enabled'] = df['push_enabled'].isin([True, 'True', 'true', 1])

df['battery_level'] = (
    df['battery_level']
    .astype(str)                 
    .str.replace('%', '', regex=False)
)
df['battery_level'] = pd.to_numeric(df['battery_level'], errors='coerce')

In [34]:
# 型別是否正確
df.dtypes

timestamp               datetime64[ns]
user_id                         object
session_id                      object
ip_address                      object
device_os                       object
device_os_version               object
device_model                    object
screen_resolution               object
location_country                object
location_city                   object
app_language                    object
network_type                    object
battery_level                  float64
memory_usage_mb                float64
event_type                      object
event_target                    object
event_value                     object
app_version                     object
session_duration_sec           float64
is_subscribed                     bool
user_age                       float64
phone_number                    object
push_enabled                      bool
dtype: object

In [35]:
# 看數值欄的統計範圍
df[['session_duration_sec','memory_usage_mb','user_age','battery_level']].describe()

       session_duration_sec  memory_usage_mb      user_age  battery_level
count          9.911200e+04     9.908400e+04  99025.000000   99095.000000
mean           2.017919e+34     2.018489e+71     46.430972      50.217438
std            6.352825e+36     6.353722e+73     19.605796      29.208547
min            4.000000e+00     3.700000e+01      0.000000       0.000000
25%            9.100000e+02     1.055000e+03     29.000000      25.000000
50%            1.805000e+03     2.075000e+03     46.000000      50.000000
75%            2.707000e+03     3.089000e+03     63.000000      76.000000
max            2.000000e+39     2.000000e+76     89.000000     100.000000

In [38]:
# 1. 清理 session_duration_sec（去除極端異常值）
df.loc[(df['session_duration_sec'] < 0) | (df['session_duration_sec'] > 1e6), 'session_duration_sec'] = np.nan

# 2. 清理 memory_usage_mb（合理範圍 100MB ~ 20000MB）
df.loc[(df['memory_usage_mb'] < 50) | (df['memory_usage_mb'] > 20000), 'memory_usage_mb'] = np.nan

# 3. 清理 user_age（合理範圍 10 ~ 100 歲）
df.loc[(df['user_age'] < 10) | (df['user_age'] > 100), 'user_age'] = np.nan

In [39]:
# 看三個欄位的統計摘要
df[['session_duration_sec','memory_usage_mb','user_age']].describe()

# 看清掉多少筆異常值
print("session_duration_sec NaN 數量:", df['session_duration_sec'].isna().sum())
print("memory_usage_mb NaN 數量:", df['memory_usage_mb'].isna().sum())
print("user_age NaN 數量:", df['user_age'].isna().sum())

session_duration_sec NaN 數量: 890
memory_usage_mb NaN 數量: 919
user_age NaN 數量: 982

In [41]:
df = df.dropna(subset=['session_duration_sec','memory_usage_mb','user_age'])

In [42]:
# 看布林欄位是否真的只有 True/False
df['is_subscribed'].value_counts(dropna=False)

is_subscribed
False    49172
True     48061
Name: count, dtype: int64

In [43]:
df['push_enabled'].value_counts(dropna=False)

push_enabled
False    49135
True     48098
Name: count, dtype: int64

In [37]:
# 檢查電池範圍是否合理
(df['battery_level'] < 0).sum(), (df['battery_level'] > 100).sum()

(0, 0)

In [44]:
df.isnull().sum().sort_values(ascending=False)

timestamp               892
battery_level           875
device_os_version       360
device_model            345
event_type              337
user_id                 328
network_type            327
app_version             318
app_language            315
phone_number            314
event_target            312
event_value             311
location_country        308
session_id              307
screen_resolution       306
ip_address              306
device_os               303
location_city           296
memory_usage_mb           0
session_duration_sec      0
is_subscribed             0
user_age                  0
push_enabled              0
dtype: int64

In [45]:
import numpy as np

# 定義一些常見的「假缺失」標記
fake_missing = ['', ' ', 'NA', 'N/A', 'na', 'null', 'NULL', 'None', 'none', 'missing', '?']

# 逐欄檢查
for col in df.columns:
    counts = df[col].isin(fake_missing).sum() if df[col].dtype == 'object' else 0
    if counts > 0:
        print(f"{col}: {counts} fake-missing values found")

In [46]:
df.replace(fake_missing, np.nan, inplace=True)

In [47]:
df.isnull().sum().sort_values(ascending=False)

timestamp               892
battery_level           875
device_os_version       360
device_model            345
event_type              337
user_id                 328
network_type            327
app_version             318
app_language            315
phone_number            314
event_target            312
event_value             311
location_country        308
session_id              307
screen_resolution       306
ip_address              306
device_os               303
location_city           296
memory_usage_mb           0
session_duration_sec      0
is_subscribed             0
user_age                  0
push_enabled              0
dtype: int64

In [48]:
df = df.dropna(subset=['timestamp'])

In [51]:
df['battery_level'] = df['battery_level'].fillna(df['battery_level'].median())

In [54]:
cat_cols = ['device_os_version','device_model','event_type','user_id','network_type',
            'app_version','app_language','phone_number','event_target','event_value',
            'location_country','session_id','screen_resolution','ip_address',
            'device_os','location_city']
for c in cat_cols:
    df[c] = df[c].fillna("Unknown")

In [55]:
df.isnull().sum().sort_values(ascending=False)

timestamp               0
battery_level           0
phone_number            0
user_age                0
is_subscribed           0
session_duration_sec    0
app_version             0
event_value             0
event_target            0
event_type              0
memory_usage_mb         0
network_type            0
user_id                 0
app_language            0
location_city           0
location_country        0
screen_resolution       0
device_model            0
device_os_version       0
device_os               0
ip_address              0
session_id              0
push_enabled            0
dtype: int64

In [56]:
# 把清理後的 DataFrame 輸出成 CSV
df.to_csv('../data/processed_app_interactions.csv', index=False)

print("✅ 清理後的資料已存到 ../data/processed_app_interactions.csv")

✅ 清理後的資料已存到 ../data/processed_app_interactions.csv